<body class="bg_darck">
  <div class="">
    <div class="container">
      <div class="login-content">

        <div class="login-form">
          <div class="logo">
            <img alt="" src="../../assets/images/logo.svg">
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="login()" #formDir="ngForm" novalidate>
            <div class="select-top">
              <select name="slct" id="slct" class="slt">
                <option value="1">EN</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter URL">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter User Name" formControlName="userName">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
            </div>

            <div>
              <p style="color:#E92626;font-size:20px;font-weight:normal" class="success" align="left">
                {{errorMessage}}
              </p>
            </div>

            <button type="submit" class="btn btn-success btn-flat m-b-30 mt-30">Log In</button>
            <div class="mt-30 mb-30">
              <label>
                <a href="#">Forgot Password?</a>
              </label>
              <label class="pull-right">
                <a href="#">Create a new account</a>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer bg_darck  ptb-20" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 pull-left text-left">Version 1.0</div>
          <div class="col-xl-4 col-lg-4 col-md-4  copy_right">
            <p>
              Copyright &copy; World Fashion exchange All Rights Reserved.
            </p>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 pull-right text-right"><a
              href="mailto:support@worldfashionexchange.com">support@worldfashionexchange.com</a></div>
        </div>
      </div>
    </div>
    <!-- Footer_End -->
  </div>
</body>
