
<p *ngIf="!organisationmodel"><em>Loading...</em></p>

<div class="wrapper">

  <div class="container_full">

      <div class="content_wrapper">
        <div class="container-fluid">
          <div class="row">


            <div class="col-md-12">

              <div class="page-heading mb-3">

                <div class="row d-flex align-items-center">
                  <div class="col-md-5">

                    <div class="page-breadcrumb">
                      <h1 translate>lang.organisationupdate</h1>
                    </div>

                  </div>

                  <div class="col-md-4"></div>

                  <div class="col-md-3">
                    <button type="button" class="btn btn-gradient float-right" (click)="UpdateOrganisation()" translate>
                      lang.savechange
                    </button>

                  </div><!--col-md-4-->

                </div><!--row-->

              </div>
              <!-- page-heading -->

              <div class="mb-4">


                <div class="row">

                  <div class="col-md-12">

                    <div class="card card-shadow mb-3 ptb-20">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <span class="f16" translate>lang.organisationdetail</span>
                          </div>
                        </div><!--row-->

                        <div class="row">
                          <div class="col-md-3 mb-3">
                            <div class="form-group">


                              <input class="form-control" type="text" placeholder="{{'lang.organisationname'|translate}}" [(ngModel)]="organisationname" autocomplete="off" >
                              <input class="form-control hidden" type="text" [(ngModel)]="organisationid">
                              <input class="form-control hidden" type="text" [(ngModel)]="organisationlogopath">
                            </div>
                          </div>
                          <div>
                            <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">
                              {{errorMessage}}
                            </p>
                          </div>
                          <div class="col-md-12 clearfix"></div>

                          <div class="col-md-3 mb-3 ">

                            <input id="file-upload" type="file" name="fileUpload" />
                            <label for="file-upload" id="file-drag" class="m-0 p-0" style="float:left!important; ">
                              <div class="f12 strong text-left" translate>
                                lang.organisationlogo
                              </div>

                              <span id="file-upload-btn" class="button button120 btn-green ptb-10" translate>lang.browse</span>
                            </label>


                          </div>


                          <div class="col-md-12 clearfix">
                            <!--<a routerLink="/Culster" class="btn btn-cluster">Add Cluster</a>-->
                          
                            <button type="button" class="btn button120 btn-green ptb-10 float-right" routerLink="/Admin/Culster/{{organisationid }}" translate>
                              lang.addcluster
                            </button>
                          </div>

                        </div><!--row-->



                      </div>
                    </div>
                  </div><!--col-md-12-->
                </div><!--row-->


              </div>
            </div><!--col-md-12-->

          </div>	<!--row-->
        </div><!--container-fluid-->
      </div>

  </div>

</div>
