
<footer class="footer ptb-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="copy_left">
          <p>
            Report problems at
            <a href="#">support@worldfashionexchange.com</a>
          </p>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="copy_right">

          <div class="select-btm">
            <select name="slct" id="slct" class="slt">
              <option selected>EN</option>
              <option value="1">EN</option>
              <option value="2">EN</option>
              <option value="3">EN</option>
            </select>
          </div>
          <p><span>Language</span></p>
          <p><strong>Copyright</strong> World Fashion exchange 2021 <strong>Version 1.1</strong></p>

        </div>

      </div>
    </div>
  </div>
</footer>
<!-- Footer_End -->
