<!--<button (click)="execute()">{{data}}</button>-->
<button  matTooltip="View" type="button" class="btn  btn-white " (click)="SOView()">
  <i class="fa fa-eye "></i>
</button>
<button type="button" class="btn  btn-white " (click)="POComplete()"matTooltip="Mark Complete" [disabled]="disabled">
  <i class="fa fa-check "></i>
</button>
<button type="button" class="btn  btn-white " (click)="editScreen()" matTooltip="Edit"[disabled]="disabled">
  <i class="fa fa-pencil "></i>
</button>
<button type="button" class="btn  btn-white " (click)="PODelete()" matTooltip="Delete">
  <i class="fa fa-trash "></i>
</button>
<!--{{data}}%-->
<!--<div class="progress mt-1"><div class="progress-bar bg-danger" role="progressbar" style='width:{{data}}%'></div></div>-->
