<p *ngIf="!planmodel"><em>Loading...</em></p>

<div class="wrapper">

  <div class="container_full">

    <div class="content_wrapper">
      <div class="container-fluid">
        <div class="row h90">

          <div class="col-md-12 h90">

            <div class="mt-20 mb-4 h100">
              <button *ngIf="showButton" type="button" class="btn btn-gradient float-right" (click)="savechanges()" translate>
                lang.savechange
              </button>
              <div class="col-md-5">
                <div class="breadcrumb_nav">
                  <ol class="breadcrumb">
                    <li>
                    <a class="parent-item" routerLink="/User/UserDashboard"><img src="../../assets/images/icon-home.svg" border="0"></a>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                      <a class="txt-blue" routerLink="/User/OrderList"><span translate>lang.orderlist</span></a>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li >
                      <a class="txt-blue" [routerLink]="['/User/SOView',planmodel.sono ]"><span translate>lang.saleorder</span> {{ planmodel.sono }}</a>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active" >
                      <a class="txt-blue" [routerLink]="['/User/POView',planmodel.pono ]"><span translate>lang.purchaseorder</span> {{ planmodel.pono }}</a>
                    </li>
                  </ol>
                </div>
                <div class="page-breadcrumb" >
                  <h1 > <span translate>lang.planeditorpo</span> {{ planmodel.pono }}</h1>
                </div>

              </div>

              <ul class="nav nav-pills nav-pills-success mb-2 bdr-none" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#tab-p-i_1" translate> lang.targetplan</a>
                </li>
              </ul>

              <div class="tab-content h100">

                <div class="tab-pane h100 active" id="tab-p-i_1" role="tabpanel">
                  <!-- <div class="page-heading" style="position:absolute; top:0px; "> -->

                    <!-- <div class="row d-flex align-items-center"> -->
                      <!-- <div class="col-md-12"> -->
                        <!-- <div class="breadcrumb_nav"> -->
                          <!-- <ol class="breadcrumb"> -->
                            <!-- <li>
                              <a class="parent-item" routerLink="/User/UserDashboard"><img src="../../assets/images/icon-home.svg" border="0"></a>
                              <i class="fa fa-angle-right"></i>
                            </li> -->
                            <!--<li class="active">
                              Plan Upload
                            </li>-->
                          <!-- </ol> -->
                        <!-- </div> -->
                        <!--<div class="page-breadcrumb">
                          <h1>Target Plan</h1>
                        </div>-->

                      <!-- </div> -->
                    <!-- </div> -->
                  <!-- </div> -->
                  <!-- page-heading -->
                  <div class="row h100">
                    <div class="col-md-3 text-center h100">
                      <div class="card card-shadow mb-3 pt-60  pb-160 h95">
                        <div class="card-body plr-0">
                          <div style="width:33px; margin:0px auto"><img src="../../assets/images/icon-upload.svg"></div>
                          <h1  translate>lang.uploadplan</h1>

                            <button type="button" class="btn btn-pill genrate-po-plan-sheet" (click)='exportAsXLSX()'>
                              <img src="../../assets/images/icon-download.svg">
                              <span translate>lang.poplansheet</span>
                               </button>

                          <form id="file-upload-form" action="" class="w-50" style="height: 40px;margin-top: 5%;">

                            <input id="file-upload1" type="file" name="fileUpload" (change)='BrowseTargetFile($event)' />
                            <label for="file-upload1" id="file-drag" class="m-0 p-0">

                              <span id="file-upload-btn" class="button w-80" translate>lang.browse</span>

                              <button type="button" class="btn btn-pill btn-outline-secondary" style="margin-top: 5%;" (click)='SampleFile()'>
                                <img src="../../assets/images/icon-download.svg"> <span
                                  translate>lang.sampleformat</span>
                              </button>
                            </label>
                          </form>
                        </div>
                      </div>
                    </div><!--col-md-3-->
                    <div class="col-md-9 h100">
                      <div class="row">

                        <div class="col-md-3">
                          <div class="form-group form-focus select-focus">
                            <label class="focus-label" translate>lang.startdate</label>
                            <input class="form-control-2 datetimepicker" [ngModel]="startdate | date:'dd/MM/YYYY'" type="text" #dp_startdate (blur)="StartDate(dp_startdate.value)">
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group form-focus select-focus">
                            <label class="focus-label" translate>lang.enddate</label>
                            <input class="form-control-2 datetimepicker" [ngModel]="enddate | date:'dd/MM/YYYY'" type="text" #dp_enddate (blur)="EndDate(dp_enddate.value)">
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group form-focus select-focus">
                            <label class="focus-label" translate>lang.module</label>
                            <ng-select2 class="w100" [data]="planmodel.modulelist"
                                        [placeholder]="'All'"
                                        (valueChanged)="moduleChangeHandler($event)">
                            </ng-select2>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-group form-focus select-focus">
                            <label class="focus-label" translate>lang.line</label>
                            <ng-select2 class="w100" [data]="planmodel.linelist"
                                        [placeholder]="'All'"
                                        (valueChanged)="lineChangeHandler($event)">
                            </ng-select2>
                          </div>
                        </div>

                      </div><!--row-->
                      <div class="card card-shadow mb-3 h85">
                        <ag-grid-angular style="width: 100%; height: 100%;"
                                         class="ag-theme-alpine"
                                         [rowData]="target_rowData"
                                         [columnDefs]="target_columnDefs"
                                         (cellValueChanged)="cellValueChanged($event)"
                                         [frameworkComponents]="frameworkComponents">
                        </ag-grid-angular>
                      </div>

                    </div><!--col-md-9-->
                  </div><!--row-->

                </div>


              </div>
            </div>
          </div><!--col-md-10-->
        </div>	<!--row-->
      </div><!--container-fluid-->
    </div>

  </div>

</div>

