<div class="nav_small">
  <div class="side_bar scroll_auto">


    <ul id="dc_accordion" class="sidebar-menu tree t2">
      <li class="menu_sub">
        <a routerLink="AdminDashboard">  <img src="../../assets/images/icon-1a.png"> <img src="../../assets/images/icon-1ahover.png"> <span>Dashboard</span></a>

      </li>

      <li class="menu_sub">
        <a routerLink="FactoryList"> <img src="../../assets/images/icon-3a.png"> <img src="../../assets/images/icon-3ahover.png"> <span>Portlets</span> </a>
      </li>

      <li class="menu_sub">
        <a routerLink="AdminDashboard"> <img src="../../assets/images/icon-5a.png"> <img src="../../assets/images/icon-5ahover.png"> <span>Widgets </span></a>
      </li>
      <li class="menu_sub">
        <a routerLink="AdminDashboard"> <img src="../../assets/images/icon-6a.png"> <img src="../../assets/images/icon-6ahover.png"> <span>Settings </span> </a>

      </li>
    </ul>


  </div>
</div>
