<!-- <p *ngIf="!ordermodel"><em>Loading...</em></p> -->

<div class="wrapper">

    <div class="container_full">

        <div class="content_wrapper">
            <div class="container-fluid">

                <div class="page-heading">

                    <div class="row d-flex align-items-center">
                        <div class="col-md-4">
                            <div class="breadcrumb_nav">
                                <ol class="breadcrumb">
                                    <li>
                                        <a class="parent-item" routerLink="/User/UserDashboard"><img src="../../assets/images/icon-home.svg" border="0"></a> <i class="fa fa-angle-right"></i>
                                    </li>
                                    <li class="active" translate>
                                        lang.settings
                                    </li>
                                </ol>
                            </div>
                            <div class="page-breadcrumb">
                                <h1 translate>lang.reports</h1>
                            </div>

                        </div>
                        <div class="col-md-4">

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-2 col-sm-2 mb-2">
                            <div class="edit-option-box clsSettingBox">
                                <a href="javascript:void(0)" (click)="uploadOBClicked()"><img src="../../assets/images/icon-edit-order.svg"></a>
                                <p class="mb-0">
                                    <a href="javascript:void(0)" (click)="uploadOBClicked()"> <span translate>lang.uploadob </span></a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>